<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DistributionListConnection" connectionString="data source=10.6.1.191;initial catalog=Onischenko;persist security info=True;user id=pv011;password=147852;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>